@model IEnumerable<EmployeeToReturnDto>
@{
    ViewData["Title"] = "Employees";
}

<h1 class="">Employees</h1>
<br />
<a asp-controller="Employee" asp-action="Create" class="me-auto w-25 btn btn-primary">Add New Employee </a>

@if (Model.Count() > 0)
{
    <table class=" table table-striped table-hover my-5 ">
        <thead class="">
            <tr>
                <th>@Html.DisplayNameFor(X => X.Name)</th>
                <th>@Html.DisplayNameFor(X => X.Email)</th>
                <th>@Html.DisplayNameFor(X => X.EmployeeType)</th>
                <th>@Html.DisplayNameFor(X => X.Age)</th>
                <th>@Html.DisplayNameFor(X => X.Salary)</th>
                <th>@Html.DisplayNameFor(X => X.IsActive)</th>
                <th>@Html.DisplayNameFor(X => X.Gender)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(X => employee.Name)</td>
                    <td>@Html.DisplayFor(X => employee.Email)</td>
                    <td>@Html.DisplayFor(X => employee.EmployeeType)</td>
                    <td>@Html.DisplayFor(X => employee.Age)</td>
                    <td>@Html.DisplayFor(X => employee.Salary)</td>
                    <td>@Html.DisplayFor(X => employee.IsActive)</td>
                    <td>@Html.DisplayFor(X => employee.Gender)</td>
                    <td>
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning">
                            <i class="fas fa-eye"></i> Details
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-success">
                            <i class="fas fa-eye"></i> Update
                        </a>
                    </td>
                    <td>

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <i class="fas fa-eye"></i> Delete
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are You Sure To Delete This Employee
                            </div>
                            <div class="modal-footer">
                                <form asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3">
        <h3>There Is No Employee :(</h3>
    </div>
}